/* This are some resets */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* End of resets */
* {
  font-family: "Karla", sans-serif;
}

main {
  background-color: #eeeeee;
  display: grid;
  grid-template-rows: 1fr 50px;
  grid-template-columns: 1fr;
  justify-items: center;
  overflow: auto;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 2rem 0;
  background: linear-gradient(90deg, rgb(73, 17, 28) 18%, rgb(228, 71, 79) 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 3px 9px rgba(0, 0, 0, 0.4);
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0;
  background: linear-gradient(90deg, rgb(73, 17, 28) 18%, rgb(228, 71, 79) 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 3px 9px rgba(0, 0, 0, 0.4);
}

p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

strong {
  font-weight: 900;
}

section {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  width: 100vw;
  min-width: 300px;
  position: relative;
}
@media only screen and (min-width: 720px) {
  section {
    flex-direction: row;
    padding: 3rem 0;
  }
}
@media only screen and (min-width: 1200px) {
  section {
    width: 60vw;
  }
}
section article {
  color: #00171f;
  padding: 3rem;
  transition: opacity 200ms linear, position 200ms;
}
section article a {
  color: #49111c;
  border-bottom: 2px dotted #49111c;
}
section aside {
  align-self: normal;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 1rem 0;
}
@media only screen and (min-width: 720px) {
  section aside {
    flex-direction: row;
    padding: 3rem;
  }
}
section aside img {
  border-radius: 50%;
  border: 5px solid #00171f;
  padding: 5px;
  width: 140px;
  height: 140px;
}
section aside nav {
  padding: 1rem 0;
}
section aside nav a {
  display: block;
  padding: 0.3rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgb(73, 17, 28) 18%, rgb(228, 71, 79) 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 3px 9px rgba(0, 0, 0, 0.4);
}
section hr {
  align-self: normal;
}
section .hidden {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
section .visible {
  position: relative;
  opacity: 1;
  z-index: 0;
}
section .pull-left {
  text-align: start;
}
section .pull-right {
  text-align: end;
}

footer .social-networks {
  display: flex;
}
footer .social-networks a {
  border-radius: 50%;
  color: #00171f;
  font-size: 1.5rem;
  padding: 12px;
  line-height: 0.5rem;
  transition: background-color 100ms linear;
}
footer .social-networks a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/*# sourceMappingURL=styles.css.map */
