/* This are some resets */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

$black: #00171f;
$background: #e8eef2;
$grey: #5a7684;
$yellow: #fcba04;
$wine: #49111c;
$white: #fbfbff;

$xl: 1200px;

* {
  font-family: "Nunito", sans-serif;
}

main {
  background-color: $background;
  display: grid;
  grid-template-rows: 1fr 50px;
  grid-template-columns: 1fr;
  justify-items: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem 0;
}

p {
  font-size: 1.5rem;
}

section {
  border-radius: 5px;
  display: flex;
  place-items: center;
  padding: 3rem 0;
  text-align: center;
  width: 80vw;
  min-width: 300px;

  @media only screen and (min-width: $xl) {
    width: 60vw;
  }

  article {
    color: $black;
    padding: 3rem;
  }

  aside {
    align-self: normal;
    display: flex;
    place-items: center;
    padding: 3rem;

    img {
      border-radius: 50%;
      border: 5px solid $grey;
      padding: 5px;
      width: 140px;
      height: 140px;
    }

    nav {
      padding: 1rem 0;

      a {
        display: block;
        padding: 0.3rem 0;
        text-transform: uppercase;
      }
    }
  }

  hr {
    align-self: normal;
  }
}

footer {
  .social-networks {
    display: flex;

    a {
      border-radius: 50%;
      color: $black;
      font-size: 1.5rem;
      padding: 10px;
      line-height: 1rem;
    }

    a:hover {
      background-color: $wine;
    }
  }
}
