.work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: var(--cream);
    padding: 1rem 0;
    color: var(--black);
    scroll-margin-top: 80px;
}

.work h1, .work h2, .work h3 {
    padding: 0 1rem;
}

.work h2 {
    color: var(--orange);
}

.work .container {
    flex-direction: column;
}

.work .cards-container .card {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    border-bottom: 1px dotted var(--black);
}

.work .cards-container .card:last-child {
    border-bottom: 0;
}

.work .card .info {
    width: 100%;
}

.work .card .info .tools {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem calc(1rem - 2px);
}

.work .card .info .tools .chip {
    margin: 2px 2px;
}

.work .card .info .period {
    margin: auto 1rem;
    font-size: 1rem;
    font-weight: 300;
}

.work .card .description {
    width: 100%;
}

.work .card .description ul {
    padding: 0 1rem;
}


@media only screen and (max-width: 599px) {
    .work .card .info h3 {
        font-size: 1.25rem;
    }
}

/* For tablets: */
@media only screen and (min-width: 600px) {
    .work .cards-container .card {
        display: flex;
        flex-direction: row;
    }

    .work .card .info .period {
        font-size: 1.25rem;
    }

    .work .card .info {
        width: 30%;
    }

    .work .card .description {
        width: 70%;
    }
}